#UpViewCount {
  top: 33vh;
  font-size: 3vh;
}
#DownViewCount {
  top: 33vh;
  font-size: 3vh;
}
#Score {
  font-size: 3vh;
  background-color: black;
  top: 42vh;
  left: 9vw;
  width: 15vw;
}
.image {
  filter: brightness(60%);
}
.background {
  position: relative;
  height: 50vh;
  .overlay {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    .text {
      position: absolute;
      text-align: center;
      z-index: 1;
      top: 18vh;
      left: 50%;
      transform: translate(-50%, 0);
      width: 90vw;
      color: #fff;
      font-size: 3.5vh;
    }
  }
}
